/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilizando selector de id */
#unid {
  color: purple;
}
/* para especificar de dónde viene el id */
nav#unid {
  color: blue;
}
/* Selector descendiente, todos los párrafos que estén dentro de una división tienen este estilo */
div p {
  color: yellow;
}
Para hacer cambios más rápidos en el tamaño del texto se puede utilizar el rem
html {
  font-size: 15px;
}
/* En este caso, si quisiera re-dimensionar todo el documento, solamente debería cambiar el font-size de html */
h1 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
/* También se pueden utilizar valores porcentuales con la unidad vw, el texto se ajusta al tamaño de la pantalla. Landing pages, efectos visuales */
h2 {
  font-size: 3.25vw;
}
/* Para el tipo de fuente se recomienda el system ui, cambia según la fuente del usuario */
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Existe el tipo de fuente monospace, en esta el tamaño de los carácteres es el mismo */
/* No justificar el texto a menos que lo indique expresamente el enunciado */
/* A la hora de ajustar el ancho, se utilizan unidades relativas (vw, %) */
/* En el caso de la altura, mejor utilizar el min y max y/o relativas */
